@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #ededed;
}

body {
  background: #050014;
  /* Deep cosmic base */
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Custom Utilities */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}